<div class="container text-center">
  <div class="row">
    <div *ngFor="let foto of fotos; let i = index" class="col">
      <div class="card" style="width: 18rem;">
        <img [src]="foto.url" class="" alt="..." height="300px" width="280px">
        <div class="card-body">
          <h5 class="card-title">{{ foto._id }}</h5>
          <!-- Si tienes una propiedad "descripcion" y "nombre" en tus objetos de foto, puedes mostrarlas -->
          <p class="card-text">{{ foto.descripcion }}</p>
          <p class="card-text">{{ foto.nombre }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
